@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&display=swap');
*{
    font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Mochiy Pop P One', sans-serif;
}
html{
    width: 100%;
    height: 100%;
}